@page "/myfiles"

<h3>My Files</h3>

<!DOCTYPE html>
<html>
<body>
				<table border="0">
		<thead>
			<tr border = "11">
				<th width="200">PDF</th>
				<th width="200">XML</th>
				<th width="200">Other</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="pdf">my pdf file</a></td>
				<td><a href="xml">my pdf file</a></td>
			</tr>
							<tr>
								<td><a href="pdf">my 2nd pdf file</a></td>
								<td><a href="xml"></a></td>
							</tr>
		</tbody>
	</table>
</body>
</html>

@code {

}
