@page "/myfiles"

<h3>My Files</h3>

<!DOCTYPE html>
<html>
<body>
				<table border="0">
		<thead>
			<tr>
				<th width="20"></th>
				<th width="200">PDF</th>
				<th width="20"></th>
				<th width="200">File 1</th>
				<th width="20"></th>
				<th width="200">File 2</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <input type="checkbox" name="myCheckbox" value="option1"></td>
				<td><a href="pdf">my pdf file</a></td>
				<td> <input type="checkbox" name="myCheckbox" value="option1"></td>
				<td><a href="xml">my xml file</a></td>
				<td> <input type="checkbox" name="myCheckbox" value="option1"></td>
				<td><a href="xml">other file of mine</a></td>
			</tr>
							<tr>
				<td> <input type="checkbox" name="myCheckbox" value="option1"><br></td>
								<td><a href="pdf">my 2nd pdf file</a></td>
								<td><a href="xml"></a></td>
							</tr>
		</tbody>
	</table>

</body>
</html>
<br />
<button class="btn btn-danger">Delete</button>

<br />
<br />
	<p>Note: deletion of PDF file will delete all files as they are inter-linked, without the pdf files the rest do not exist, the rest of files can be deleted independently
	</p>

@code {

}
