@page "/file"

<PageTitle>File</PageTitle>

<h1>File</h1>

<p role="status">only pdf and max. 2MB</p>

<form action="submit-form.php" method="post" accept=".pdf" enctype="multipart/form-data">
    <input type="file" name="fileName">
    <input type="submit" value="Upload">
</form>
<br/>
<br/>
<a href="file">my pdf file</a>
<form action="submit-form.php" method="post" accept=".pdf" enctype="multipart/form-data">
    <input type="file" name="fileName">
    <input type="submit" value="Upload">
</form>
<br />
<p>After upload I can see the extract button and additional upload file (max. additional 2 files of max. 2Mb each can be uploaded)</p>
<button class="btn btn-primary">Extract</button>

<br />
<br />
<p>After I press extract I can see (as per the provided PDF sample) for example:</p>
<table>
    <tr>
        <th>name</th>
        <th>type</th>
    </tr>
    <tr>
        <td>Default</td>
        <td>
            <select id="type" name="type">
                <option value=""></option>
                <option value="volvo">friendly</option>
                <option value="saab">neutral</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Tony</td>
        <td>
            <select id="type" name="type">
                <option value=""></option>
                <option value="volvo">friendly</option>
                <option value="saab">neutral</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Woody</td>
        <td>
            <select id="type" name="type">
                <option value=""></option>
                <option value="saab">neutral</option>
                <option value="volvo">friendly</option>
            </select>
        </td>
    </tr>
</table>
<button class="btn btn-primary">Save</button>
<p>Note: list of type is to be retrieved from a resource file</p>
<p>Once all names have type assigned and are saved I can see the Process and Send buttons</p>
<button class="btn btn-primary">Process</button> clicking it will create the XML as per the spec either directly in the db or saved on the user's machine, whatever is easier
<br />
<br />
<button class="btn btn-primary">Send</button> clicking it will create a string  (no need to be displayed anywhere just to see in the debugger that's string')

@code {

}
