@page "/public"

<h3>Public Page</h3>

<!DOCTYPE html>
<html>
<body>
	<table >
		<tbody>
			<tr>
				<td>
					<table border="0">
		<thead>
			<tr border = "11">
				<th width="100">User</th>
				<th width="200">PDF</th>
				<th width="200">XML</th>
				<th width="200">Other</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="cairo">cairo</a></td>
				<td><a href="pdf">my pdf file</a></td>
				<td><a href="xml">my xml file</a></td>
			</tr>
							<tr>
								<td><a href="cairo">cairo</a></td>
								<td><a href="pdf">my 2nd pdf file</a></td>
								<td><a href="xml"></a></td>
							</tr>
							<tr>
								<td><a href="bogota">bogota</a></td>
								<td><a href="pdf">I have pdf file too</a></td>
								<td><a href="xml"></a></td>
							</tr>
							<tr>
								<td><a href="dallas">dallas</a></td>
								<td><a href="pdf">pdf</a></td>
								<td><a href="xml">xml</a></td>
								<td><a href="xml">other file</a></td>
							</tr>
		</tbody>
	</table>
				</td>
				<td>&nbsp;</td>
				<td><b>Note: </b>clicking on ther user link will display user's fields Name and About on this page (right to the list)</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>

@code {

}
