<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PDF to XML</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<AuthorizeView>
    <Authorized>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="file">
                <span class="oi oi-plus" aria-hidden="true"></span>new file
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="myfiles">
                <span class="oi oi-list-rich" aria-hidden="true"></span>my files
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="public">
                <span class="oi oi-list-rich" aria-hidden="true"></span> public
            </NavLink>
        </div>
    </nav>
</div>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="public">
                <span class="oi oi-list-rich" aria-hidden="true"></span> public
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
